
.carousel-navigation-container {
    margin-top: 40px;
    padding: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 50px; 
    padding-right: 50px;
}

.carousel-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    width: 100%;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.carousel-container::-webkit-scrollbar {
    display: none;
}
.carousel-item {
    flex-shrink: 0;
    width: calc((100% - (2 * 20px)) / 2.5);
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.scroll-button:hover {
   background-color: rgba(0, 0, 0, 0.8);
}

.scroll-button.left {
    left: 5px;
}

.scroll-button.right {
    right: 5px;
}
